name: Dockerfile Build Check
on:
  push:
    branches:
      - main

jobs:
  docker-build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Build Dockerfile
        run: docker build -f Dockerfile -t test .
        
